{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.js"></script>
    <script  type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/searchpanes/1.0.1/js/dataTables.searchPanes.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/searchpanes/1.0.1/css/searchPanes.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
{% endblock %}

<!-- Another section -->
{% block content3 %}
<table id="search" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Disease</th>
            <th>Location</th>
            <th>Country</th>
            <th>Strain</th>
            <th>Host</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for outbreaks in outbreak %}
        <tr><td>{{outbreaks.disease}}</td>
            <td>{{outbreaks.location}}</td>
            <td>{{outbreaks.country}}</td>
            <td>{{outbreaks.strain}}</td>
            <td>{{outbreaks.host}}</td>
            <td>{{outbreaks.year}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#search').DataTable( {
        buttons: [
            'searchPanes', 'copy', 'csv'
        ],
        dom: 'Bfrtip',
    });
});
</script>
{% endblock %}
