{% extends 'base.html' %}
{% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'js/highcharts.src.js' %}"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript" src="{% static 'js/export-data.js' %}"></script>
<script type="text/javascript" src="{% static 'js/accessibility.js' %}"></script>
{% endblock %}

{% block css %}
<style>
.container {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap:0px;
  grid-template-columns: 500px 500px;
  grid-template-areas: "timeline timeline" 
                       "sites country" 
                       "disease host" 
}
.item {
  color: white;
  padding: 0.0em 0;
  font-size: 2em;
}

.timeline {
  grid-area: timeline;
  height: 400px
}
.sites {
  grid-area: sites;
  height: 400px
}
.country {
  grid-area: country;
  height: 400px
}
.disease {
  grid-area: disease;
  height: 400px
}
.host {
  grid-area: host;
  height: 400px;
}

</style>
{% endblock %}

{% block content1 %}
<div class="container">
  <div class="item timeline" id='timeline'></div>
  <div class="item disease" id='disease'></div>
  <div class="item sites" id='sites'></div>
  <div class="item country" id='country'></div>
  <div class="item host" id='host'></div>
</div>
<script>
	var age = [
	['18-25 Years', 1], 
	['26-35 Years', 2], 
	['36-45 Years', 1], 
	['Over 45', 0]
	] ;

    Highcharts.chart('disease', {
        
    chart: {
    backgroundColor: '#1BBC49', //#3EF0D2
    plotBackgroundColor: '#1BBC49',
    plotShadow: false,
    type: 'pie',
    options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Outbreaks by disease',
        style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
    },
    subtitle: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true,
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
            name: 'Body site',
            data: age
    }]
    });
</script>

<script>
	var age = [
	['18-25 Years', 1], 
	['26-35 Years', 2], 
	['36-45 Years', 1], 
	['Over 45', 0]
	] ;

    Highcharts.chart('country', {
        
        chart: {
        plotBackgroundColor: 'orange',
        backgroundColor: 'orange',
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Outbreaks by Country',
        style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
    },
    subtitle: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true,
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
            name: 'Body site',
            data: age
    }]
    });
</script>

<script>
	var age = [
	['18-25 Years', 1], 
	['26-35 Years', 2], 
	['36-45 Years', 1], 
	['Over 45', 0]
	] ;

    Highcharts.chart('sites', {
        
        chart: {
        backgroundColor: '#1BBC49',
      plotBackgroundColor: '#1BBC49',
              plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Studies by Sampling sites',
        style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
    },
    subtitle: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true,
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
            name: 'Body site',
            data: age
    }]
    });
</script>

<script>
var outbreaks = [
  [1960, 1],
  [1970, 1],
  [1980, 2],
  [1990, 3],
  [2000, 5],
  [2010, 4],
  [2020, 6]
];

Highcharts.chart('timeline', {

chart: {
    type: 'area',
    zoomType: 'x',
    panning: true,
    panKey: 'shift',
    backgroundColor: '#1583D6',
      plotBackgroundColor: '#1583D6',
    scrollablePlotArea: {
        minWidth: 600
    }
},

caption: {
    text: ''
},

title: {
    text: 'Time line of Viral outbreaks',
    style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
},

accessibility: {
    description: 'Image description: '
},

credits: {
    enabled: false
},

annotations: [{
    labelOptions: {
        backgroundColor: 'rgba(255,255,255,0.5)',
        verticalAlign: 'top',
        y: 15
    },
}, 
{
    labelOptions: {
        shape: 'connector',
        align: 'right',
        justify: false,
        crop: true,
        style: {
            fontSize: '0.8em',
            textOutline: '1px white'
        }
    }
}],

xAxis: {
    labels: {
        format: '{value}',
        style: {"color": "#FFFFFF"}

    },
    minRange: 5,
    title: {
        text: 'Year',
        style: {"color": "#FFFFFF"}
    },
    accessibility: {
        rangeDescription: 'Range: 0 to 5 years.'
    }
},

yAxis: {
    startOnTick: true,
    endOnTick: false,
    maxPadding: 0.35,
    title: {
        text: null
    },
    labels: {
        format: '{value}',
        style: {"color": "#FFFFFF"},

    }
},

tooltip: {
    headerFormat: 'Year: {point.x} <br>',
    pointFormat: 'Studies: {point.y} ',
    shared: true
},

legend: {
    enabled: false
},

series: [{
    accessibility: {
        keyboardNavigation: {
            enabled: false
        }
    },
    data: outbreaks,
    lineColor: Highcharts.getOptions().colors[1],
    color: Highcharts.getOptions().colors[2],
    fillOpacity: 0.5,
    name: 'Elevation',
    marker: {
        enabled: false
    },
    threshold: null
}]

});
</script>

<script>
	var age = [
	['18-25 Years', 1], 
	['26-35 Years', 2], 
	['36-45 Years', 1], 
	['Over 45', 0]
	] ;

    Highcharts.chart('disease', {
        
        chart: {
backgroundColor: 'orange',
      plotBackgroundColor: 'orange',
            plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Studies by Sampling sites',
        style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
    },
    subtitle: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true,
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
            name: 'Body site',
            data: age
    }]
    });
</script>

<script>
    var outbreaks = [
      [1960, 1],
      [1970, 1],
      [1980, 2],
      [1990, 3],
      [2000, 5],
      [2010, 4],
      [2020, 6]
    ];
    
    Highcharts.chart('host', {
    
    chart: {
        type: 'area',
        zoomType: 'x',
        panning: true,
        panKey: 'shift',
        backgroundColor: '#1BBC49',
        plotBackgroundColor: '#1BBC49',
        scrollablePlotArea: {
            minWidth: 600
        }
    },
    
    caption: {
        text: ''
    },
    
    title: {
        text: 'Studies by Host organism',
        style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
    },
    
    accessibility: {
        description: 'Image description:'
    },
    
    credits: {
        enabled: false
    },
    
    annotations: [{
        labelOptions: {
            backgroundColor: 'rgba(255,255,255,0.5)',
            verticalAlign: 'top',
            y: 15
        },
    }, 
    {
        labelOptions: {
            shape: 'connector',
            align: 'right',
            justify: false,
            crop: true,
            style: {
                fontSize: '0.8em',
                textOutline: '1px white'
            }
        }
    }],
    
    xAxis: {
        labels: {
            format: '{value}'
        },
        minRange: 5,
        title: {
            text: 'Year'
        },
        accessibility: {
            rangeDescription: 'Range: 0 to 10 years.'
        }
    },
    
    yAxis: {
        startOnTick: true,
        endOnTick: false,
        maxPadding: 0.35,
        title: {
            text: null
        },
        labels: {
            format: '{value}'
        }
    },
    
    tooltip: {
        headerFormat: 'Year: {point.x} <br>',
        pointFormat: 'Studies: {point.y} ',
        shared: true
    },
    
    legend: {
        enabled: false
    },
    
    series: [{
        accessibility: {
            keyboardNavigation: {
                enabled: false
            }
        },
        data: outbreaks,
        lineColor: Highcharts.getOptions().colors[1],
        color: Highcharts.getOptions().colors[2],
        fillOpacity: 0.5,
        name: 'Elevation',
        marker: {
            enabled: false
        },
        threshold: null
    }]
    
    });
    </script>
{% endblock %}
