{% extends 'base.html' %}
{% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'js/highcharts.src.js' %}"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript" src="{% static 'js/export-data.js' %}"></script>
<script type="text/javascript" src="{% static 'js/accessibility.js' %}"></script>
{% endblock %}

{% block css %}
<style>
.container {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap:0px;
  grid-template-columns: 500px 500px;
  grid-template-areas: "timeline timeline" 
                       "disease sites" 
                       "country host" 
}
.item {
  color: white;
  padding: 0.0em 0;
  font-size: 2em;
}

.timeline {
  grid-area: timeline;
  height: 400px
}
.sites {
  grid-area: sites;
  height: 400px
}
.country {
  grid-area: country;
  height: 400px
}
.disease {
  grid-area: disease;
  height: 400px
}
.host {
  grid-area: host;
  height: 400px;
}

</style>
{% endblock %}

{% block content1 %}
<div class="container">
  <div class="item timeline" id='timeline'></div>
  <div class="item disease" id='disease'></div>
  <div class="item sites" id='sites'></div>
  <div class="item country" id='country'></div>
  <div class="item host" id='host'></div>
</div>

<script>
var outbreaks = [
  [1960, 1],
  [1962, 1],
  [1965, 2],
  [1968, 3],
  [1970, 1],
  [1980, 2],
  [1990, 3],
  [2000, 5],
  [2010, 4],
  [2020, 6]
];

Highcharts.chart('timeline', {

chart: {
    type: 'area',
    zoomType: 'x',
    panning: true,
    panKey: 'shift',
    backgroundColor: '#1583D6',
      plotBackgroundColor: '#1583D6',
    scrollablePlotArea: {
        minWidth: 600
    }
},

caption: {
    text: ''
},

title: {
    text: 'Time line of Viral outbreaks/Studies',
    style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
},

accessibility: {
    description: 'Image description: '
},

credits: {
    enabled: false
},

annotations: [{
    labelOptions: {
        backgroundColor: 'rgba(255,255,255,0.5)',
        verticalAlign: 'top',
        y: 15
    },
}, 
{
    labelOptions: {
        shape: 'connector',
        align: 'right',
        justify: false,
        crop: true,
        style: {
            fontSize: '0.8em',
            textOutline: '1px white'
        }
    }
}],

xAxis: {
    labels: {
        format: '{value}',
        style: {"color": "#FFFFFF"}

    },
    minRange: 5,
    title: {
        text: 'Year',
        style: {"color": "#FFFFFF"}
    },
    accessibility: {
        rangeDescription: 'Range: 0 to 5 years.'
    }
},

yAxis: {
    startOnTick: true,
    endOnTick: false,
    maxPadding: 0.35,
    title: {
        text: null
    },
    labels: {
        style: {"color": "#FFFFFF"},

    }
},

tooltip: {
    headerFormat: 'Year: {point.x} <br>',
    pointFormat: 'Studies: {point.y} ',
    shared: true
},

legend: {
    enabled: false
},

series: [{
    accessibility: {
        keyboardNavigation: {
            enabled: false
        }
    },
    data: outbreaks,
    lineColor: Highcharts.getOptions().colors[1],
    color: Highcharts.getOptions().colors[2],
    fillOpacity: 0.5,
    name: 'Elevation',
    marker: {
        enabled: false
    },
    threshold: null
}]

});
</script>

<script>
	var diseases = [
	['Ebola', 10], 
	['Yellow fever', 4], 
	['Maburg', 5], 
	['Chikugunya', 3],
    ['Dengue', 3],
	] ;

    Highcharts.chart('disease', {
        
    chart: {
    backgroundColor: '#D38DFA', //#3EF0D2
    plotBackgroundColor: '#D38DFA',
    plotShadow: false,
    type: 'pie',
    options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Studies by disease',
        style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
    },
    subtitle: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false,
                formatter:function () { 
                    var total = 0, percentage; 
                    $.each(this.series.data, function() { 
                    total+=this.y; 
                    }); 
                    percentage=((this.y/total)*100).toFixed(1); 
                    return this.point.name+' '+percentage+'%'; 
        },
            },
            showInLegend: true,
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
            name: 'Disease',
            data: diseases
    }]
    });
</script>


<script>
    var sites = [
    ['Kibaale', 10], 
    ['Kampala fever', 4], 
    ['Kasese', 5], 
    ['Mukono', 3],
    ['Kabale', 3],
    ['Gulu', 10], 
    ['Bundibugyo', 4], 
    ['Kalangala', 5], 
    ['Buvuma', 3],
    ['Wakiso', 3],
    ] ;

    Highcharts.chart('sites', {
        
    chart: {
    backgroundColor: '#F7DD74', //#3EF0D2
    plotBackgroundColor: '#F7DD74',
    plotShadow: false,
    type: 'column'
    },
    title: {
        text: 'Studies by sampling locations',
        style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
    },
    subtitle: {
        text: ''
    },

     yAxis: {
        title: {
            enabled: true,
            text: 'Number of outbreaks/Studies',
            style: {
                fontWeight: 'normal'
            }
        }
    },

    xAxis: {
        type: 'category',
        labels: {
          rotation: -90,
          style: {
                  fontSize: '13px',
                  fontFamily: 'Verdana, sans-serif'
               },
          }
     },
    series: [{
            name: 'Sampling locations',
            data: sites
    }]
    });
</script>

<script>
    var country = [
    ['Uganda', 7], 
    ['Kenya', 4], 
    ['Tanzania', 5], 
    ['DRC', 3],
    ['South Sudan', 3]
    ];
    Highcharts.chart('country', {    
    chart: {
    backgroundColor: '#F7DD74', //#3EF0D2
    plotBackgroundColor: '#F7DD74',
    plotShadow: false,
    type: 'pie',
    options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Studies by country',
        style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
    },
    subtitle: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false,
                formatter:function () { 
                    var total = 0, percentage; 
                    $.each(this.series.data, function() { 
                    total+=this.y; 
                    }); 
                    percentage=((this.y/total)*100).toFixed(1); 
                    return this.point.name+' '+percentage+'%'; 
        },
            },
            showInLegend: true,
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
            name: 'country',
            data: country
    }]
    });
</script>

<script>
    var host = [
    ['Mosquitoes', 7], 
    ['Ticks', 4], 
    ['Non-Human primate', 5], 
    ];
    Highcharts.chart('host', {    
    chart: {
    backgroundColor: '#D38DFA', //#3EF0D2
    plotBackgroundColor: '#D38DFA',
    plotShadow: false,
    type: 'pie',
    options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Outbreaks by host',
        style: {"color": "#FFFFFF", 
                "fontSize": "25px",
                "fontWeight": 'bold'}
    },
    subtitle: {
        text: ''
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false,
                formatter:function () { 
                    var total = 0, percentage; 
                    $.each(this.series.data, function() { 
                    total+=this.y; 
                    }); 
                    percentage=((this.y/total)*100).toFixed(1); 
                    return this.point.name+' '+percentage+'%'; 
        },
            },
            showInLegend: true,
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
            name: 'host',
            data: host
    }]
    });
</script>
{% endblock %}
